* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    /*Esto sirve para que la página siempre ocupe todo el alto*/
}

.header,
.top,
.footer {
    background-color: #F9F6F0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #655E5B;
}

li {
    list-style: none;

}

/*Editar a partir de aquí, si no se quiere tocar la paleta de colores general*/

.header {
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin-bottom: 60px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.top {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 90%;
    gap: 20px;
}

.title-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    width: 50%;
}

h1 {
    font-size: 48px;
    color: #4A4543;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #655E5B
    
}

.top-button {
    background-color: #9CAF88;
    width: 150px;
    color: #655E5B;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
    border: none;
    box-shadow: none;
    outline: none;
}

.top-image {
    width: 50%;
}

.top-image img {
    width: 100%;
}

.top-middle {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 100px 0px;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #4A4543;
    font-weight: 600;
    max-width: 1000px;
    width: 90%;
}

.card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 5px solid #9CAF88;
}

.text {
    text-align: center;
    width: 180px;
    font-size: 18px;
}

.bottom-middle {
    
    background-color: #E5C39E;
}

.review-placeholder {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto auto;
    gap: 10px;

}

.review {
    color: #4A4543;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.client {
    font-weight: 600;
    font-size: 30px;
    text-align: right;
}

.bottom {

    padding: 90px 0px;
    background-color: #F9F6F0;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9CAF88;
    gap: 200px;
    padding: 50px;
    flex: auto;
    color: #4A4543;
    max-width: 1000px;
    margin: auto auto;
    border-radius: 8px;
}

.bottom-main {
    font-size: 24px;
    font-weight: 600;
    color: #655E5B;
}

.bottom-sub {
    font-size: 18px;
    color: #655E5B;
}

.bottom-button .button {
    background-color: #9CAF88;
    width: 150px;
    color: #655E5B;
    padding: 5px 10px;
    border-radius: 8px;
    border-color: #F9F6F0;
    font-weight: 900;
    font-size: 24px;
    border-style: solid;
}

.footer {
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    color: #655E5B;
    font-size: 18px;
}